{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clima en {{ ciudad }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="container">
            <h1>Clima en {{ ciudad }}</h1>

            {% if error %}
                <p class="error">{{ error }}</p>
            {% else %}
                <div class="weather-data">
                    <p>Temperatura: {{ temperatura }}°C</p>
                    <p>Humedad: {{ humedad }}%</p>
                    <p>Descripción: {{ descripcion }}</p>
                    <img src="http://openweathermap.org/img/wn/{{ icono }}@2x.png" alt="Icono del clima">
                </div>
            {% endif %}

            <!-- Formulario para crear registros -->
            <div class="form-container">
                <h2>Agregar datos manualmente</h2>
                <form method="post" action="{% url 'crear_datos' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="ciudad">Municipio:</label>
                        <input type="text" id="ciudad" name="ciudad" required>
                    </div>
                    <div class="form-group">
                        <label for="temperatura">Temperatura:</label>
                        <input type="number" step="0.01" id="temperatura" name="temperatura" required>
                    </div>
                    <div class="form-group">
                        <label for="humedad">Humedad:</label>
                        <input type="number" step="0.01" id="humedad" name="humedad" required>
                    </div>
                    <button type="submit" class="submit-btn">Guardar</button>
                </form>
            </div>
        </div>

        <!-- Mostrar datos creados manualmente -->
        <div class="manual-data">
            <h2>Datos OpenWeatherMapx</h2>
            {% if datos_manuales %}
                <ul>
                    {% for dato in datos_manuales %}
                        <li>
                            <strong>Municipio:</strong> {{ dato.ciudad }}<br>
                            <strong>Temperatura:</strong> {{ dato.temperatura }}°C<br>
                            <strong>Humedad:</strong> {{ dato.humedad }}%
                            <br>
                            <!-- Botón para editar -->
                            <a href="{% url 'editar_datos' dato.id %}" class="edit-btn">Editar</a>
                             <!-- Botón para eliminar -->
                            <a href="{% url 'eliminar_datos' dato.id %}" class="delete-btn">Eliminar</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No hay datos creados manualmente.</p>
            {% endif %}
        </div>
        <a href="{% url 'graficos' %}" class="btn-ver-grafico">Ver Grafico</a>
    </div>
</body>
</html>