<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIC</title>
</head>
<body>
    <h1>CRUD</h1>
    <h2>clima en {{ ciudad }}</h2>
    <h2>Temperatura en {{ temperatura }}</h2>
    <h2>Humedad en {{ humidity }}</h2>
    <table></table>
    <div>
        <a href="#">Create</a>
        <a href="#">Update</a>
        <a href="#">Delete</a>
        <a href="#">Read</a>
    </div>
    
    
</body>
</html>